<!DOCTYPE html>
<html>
<head>
  <title>User Profile</title>

  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">

  <style>
    body { background-color: #2ECC71; padding-top: 2em;}
  </style>
</head>
<body>
  <div class="container">
    <div class="row">
      <h1>Here's your profile!</h1>
      <ul>
        <li><h3>Name: {{firstName}} {{middleInitial}} {{lastName}}</h3></li>
        <li><h3>DOB: {{DOB}}</h3></li>
        <li><h3>Password: {{password}}</h3></li>
        <li><h3>Gender: {{gender}}</h3></li>
        <li><h3>Biography: {{bio}}</h3></li>
        <li><h3>Sign up? {{signUp}}</h3></li>
      </ul>
    </div>
  </div>
</body>
</html>
