<!DOCTYPE html>
<html>
<head>
  <title>View Posts</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="Content-Language" content="en">

  <link rel="stylesheet" href="/css/style.css"></link>
  <link rel="stylesheet" href="/js/script.js"></link>
</head>
<body>
<h1>View all posts</h1>

<h2>Your username: {{username}}</h2>

<!-- Part 2: Display posts -->

<!-- Iterate over all the posts using {{#each posts}} {{/each}} to
  display them on the page.
  Put each post inside a div. Be sure to display the author, title, body and date of each post.
-->

<!-- YOUR CODE HERE -->

<form>
  <label>Order: </label><br><br>
  <input type="radio" name="order" value="ascending">Ascending<br>
  <input type="radio" name="order" value="descending">Descending<br><br>
  <input type="submit" name="button" value="Sort!">
</form><br><br>

  {{#each posts}}
    <div class="post">
      Post: <br>
      <a href='?author={{author}}'>View only posts by this author</a><br>
      <a href='/posts'>View all posts</a><br>
      <ul>
        <li>Author: {{author}}</li>
        <li>Title: {{title}}</li>
        <li>Body: {{body}}</li>
        <li>Date: {{date}}</li>
      </ul>
    </div>
  {{/each}}


</body>
</html>
